<!DOCTYPE html>
<html>
<head>
    <title>Admin Bookings</title>
    <link rel="stylesheet" type="text/css" href="/css/booking-styles.css">
</head>
<body>
    <h1>Admin Bookings</h1>
    <h1>Admin Bookings</h1>
    <h1>Admin Bookings</h1>
    <h1>Admin Bookings</h1>
    <h1>Admin Bookings</h1>
    <h1>Admin Bookings</h1>
    <input type="date" id="datepicker">
    <button id="blockBtn">Block Selected Cells</button>
    <div id="ganttChart"></div>
    <script src="/scripts/admin-booking-script.js"></script>
</body>
</html>




