<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="/public/css/contact-us.css"> 
</head>
<body>
    <form action="/contact" method="POST">
        <div class="head">
            <h1>Φόρμα Επικοινωνίας</h1>
            <p>Παρακαλώ όπως συμπληρώσετε <b>όλα</b> τα πεδία</p>
        </div>
        <label for="fullname">Ονοματεπώνυμο:</label>
        <input type="text" name="fullname" id="fullname" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="subject">Θέμα:</label>
        <input type="text" name="subject" id="subject" required>
        <label for="message">Μήνυμα:</label>
        <textarea name="message" id="message" required></textarea>
        <button type="submit">Υποβολή</button>
    </form>
</body>
</html>
