<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>DA Tennis Club-Login</title>
</head>
<body>
    <div class="main-content">
        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title">Σύνδεση</span>
                    <form action="/users/login" method="POST">
                        <div class="input-field">
                            <input type="text" name="username" placeholder="Εισάγετε όνομα χρήστη" required>
                            <i class="uil uil-user icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" class="password" placeholder="Εισάγετε κωδικό" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
                        <div class="input-field button">
                            <button type="submit">Σύνδεση</button>
                        </div>
                    </form>
                    <div class="login-signup">
                        <span class="text">Δεν είστε μέλος ;
                            <a href="#" class="text signup-link">Κάντε εγγραφή <br></a>
                        </span>
                        
                        <span class="text">
                            <a href="#" class="text admin-signup-button">Σύνδεση ως διαχειριστής</a>
                        </span>
                    </div>
                </div>
                <div class="form signup">
                    <span class="title">Εγγραφή</span>
                    {{#if error}}
                        <p class="error">{{error}}</p>
                    {{/if}}
                    <form action="/users/register" method="POST">
                        <div class="input-field">
                            <input type="text" name="username" placeholder="Εισάγετε το όνομα χρήστη" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" name="firstname" placeholder="Εισάγετε το ονομά σας" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" name="lastname" placeholder="Εισάγετε το επίθετό σας" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input type="email" name="email" placeholder="Εισάγετε το email σας" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" class="password" placeholder="Δημιουργήστε τον κωδικό σας" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Επιβεβαιώστε τον κωδικό σας" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
                        <div class="input-field button">
                            <button type="submit">Εγγραφή</button>
                        </div>
                        
                    </form>
                    <div class="login-signup">
                        <span class="text">Είστε ήδη μέλος;
                            <a href="#" class="text login-link">Συνδεθείτε</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>
</html>
