@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex: 1;
    display: flex;
    align-items: top;
    justify-content: center;
    background-image: url('/images/aleksandar-kyng-dhkdfFxGHfU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 40px 9px rgba(0, 0, 0, 0.4);
    margin-top: 120px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.head {
    background: rgba(0, 136, 169, 0.8);
    margin-bottom: 30px;
    padding: 15px;
}

.head h1, .head p {
    text-align: center;
    color: white;
}

.head p {
    font-size: 12px;
}

label {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    padding: 10px;
    margin: 5px 20px 20px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

input:focus, textarea:focus {
    border: 1px solid rgba(0, 136, 169, 0.8);
}

textarea {
    resize: vertical;
}

button {
    outline: none;
    background: rgba(0, 136, 169, 0.8);
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: rgba(0, 136, 169, 1);
}

@media screen and (max-width: 417px) {
    form {
        width: 100%;
        height: 100%;
    }
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

