footer {
  height:auto; /* Adjust height as needed */
  width: auto;
}

footer p {
  
  text-align: center;
    color: #f7f7f7;
    background-color: #006942;
    max-width: 100%;
    margin: 0; /* Remove default margin */
    padding: 20px;
  
    font-family: 'Montserrat';
  }