/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    cursor: pointer;
    width: 100px;
    max-width: 85%;
    height: auto;
    display: block;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    margin-top: 0;
    width: 100%;
    padding: auto;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    /* This keeps the navigation items on the right */
    align-items: center;
    position: fixed;
    z-index: 2;

}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.nav-links li a:hover {
    color: #0088a9;
}

.register>button {
    padding: 9px 25px;
    margin: 12px;
    background-color: rgba(0, 136, 169, 0.8);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/tim-chow-iiWhddT4SB4-unsplash.jpg');
    /* Σωστή διαδρομή εικόνας */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Προσθήκη background-color για δοκιμή */
}
.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 80px 20px 20px 20px; /* Αυξάνουμε το margin-top για να αποφύγουμε τη σύγκρουση με το navbar */
    position: relative;
    z-index: 1;
}



.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    padding-top: 60px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 710px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #006942;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #006942;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #006942;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.input-field.button button {
    /* Target input field buttons */
    background-color: rgba(0, 136, 169, 0.8);
    /* Example background color */
    color: #fff;
    /* Example text color */
    font-size: 16px;
    /* Example font size */
    font-weight: 500;
    /* Example font weight */
    padding: 10px 20px;
    /* Example padding */
    border: none;
    /* Example border style */
    border-radius: 6px;
    /* Example border radius */
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for input buttons */
.input-field.button button:hover {
    background-color: rgba(0, 136, 169, 1);
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #006942;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #006942;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #006942;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #006942;
}

.form .login-signup{
    margin-top: 20px;
    text-align: center;
}

.form .admin-signup{
    margin-top: 30px;
    text-align: center;
}

/* CSS για το κουμπί "Σύνδεση ως διαχειριστής" */
.admin-signup-button {
    display: inline-block;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    text-align: center; /* Εξασφαλίζει ότι το κείμενο είναι κεντραρισμένο */
}


footer {
    height: auto;
    /* Adjust height as needed */
    width: 100%;
    color: white;
    text-align: center;
    margin-top: auto;
    /* Push the footer to the bottom */
}



